<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087008729387-kk2alham02d32mf1512h2l6ollpmnr5o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087008729387-kk2alham02d32mf1512h2l6ollpmnr5o</string>
	<key>API_KEY</key>
	<string>AIzaSyAAYwy2JvFMj5tLyzHd90s3U4U81y-z08o</string>
	<key>GCM_SENDER_ID</key>
	<string>1087008729387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.soltionCenter</string>
	<key>PROJECT_ID</key>
	<string>soltion-center</string>
	<key>STORAGE_BUCKET</key>
	<string>soltion-center.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087008729387:ios:cb65ae0dd32fa82476fd6e</string>
</dict>
</plist>